language: ruby
sudo: false

before_install: gem update bundler --no-document

rvm:
  - 2.4.0
  - 2.3.3
  - 2.2.6
  - 2.1.10
  - 2.0.0
  - 1.9.3
  - rbx-2
  - jruby-9.1.7.0

gemfile:
  - Gemfile

branches:
  only:
    - master

script: "bundle exec rake test"

matrix:
  allow_failures:
    - rvm: rbx-2
